In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [3]:
df1=pd.read_csv("DelhiProperty.csv")
df1.shape
df1

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

In [4]:
df1.groupby('Furnishing')['Furnishing'].agg('count')

Furnishing
Furnished         183
Semi-Furnished    708
Unfurnished       363
Name: Furnishing, dtype: int64

In [5]:
df2=df1.drop(['Furnishing','Status','Parking','Transaction','Type','Per_Sqft'],axis='columns')
df2

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [6]:
df2.isnull().sum()

Area        0
BHK         0
Bathroom    2
Locality    0
Price       0
dtype: int64

In [7]:
df2=df2.dropna()
df2.isnull().sum()

Area        0
BHK         0
Bathroom    0
Locality    0
Price       0
dtype: int64

In [8]:
df2.to_csv('newdataset.csv')

In [9]:
df2['BHK'].unique()

array([ 3,  2,  4,  1,  6,  5,  7, 10])

In [12]:
df2.Area.unique()

array([  800.    ,   750.    ,   950.    ,   600.    ,   650.    ,
        1300.    ,  1350.    ,   985.    ,  1100.    ,   870.    ,
         630.    ,   660.    ,   344.4448,   550.    ,  1150.    ,
         850.    ,   900.    ,   430.556 ,   914.9315,   500.    ,
          28.    ,  2160.    ,  1080.    ,  1450.    ,   810.    ,
        1710.    ,  1650.    ,  1280.    ,  1260.    ,  1130.    ,
        1500.    ,  1000.    ,  2925.    ,  1600.    ,  1143.    ,
        8000.    ,   890.    ,  1387.    ,  1050.    ,  1200.    ,
         700.    ,  1700.    ,  1550.    ,  1400.    ,  1900.    ,
        1850.    ,  1800.    ,  1620.    ,  1540.    ,  2300.    ,
        1560.    ,   400.    ,  1525.    ,  2200.    ,  2880.    ,
        2700.    ,  1575.    ,  1675.    ,   825.    ,   875.    ,
         450.    ,   100.    ,    75.    ,   270.    ,   444.    ,
         729.    ,  4050.    ,  2400.    ,   405.    ,   666.    ,
        1360.    ,  2170.    ,   720.    ,  1030.    ,   350.    ,
         980.    ,   445.    ,   380.    ,   680.    ,  2500.    ,
        2800.    ,   300.    ,  1295.    ,  4688.    ,  3901.    ,
         540.    ,   976.    ,  2900.    ,  5025.    ,  1135.    ,
        2306.    , 22050.    ,    45.    ,  3510.    ,  4500.    ,
        6000.    ,  4300.    ,  2450.    , 10350.    ,  4800.    ,
        3500.    ,  2100.    ,  4200.    ,  8150.    ,  2070.    ,
        2000.    ,  2550.    ,  7200.    ,  2799.    ,  2650.    ,
        1440.    ,  3150.    ,  3690.    ,  2177.    ,  2150.    ,
        2107.    ,  1240.    ,  3000.    ,   970.    ,  1425.    ,
         440.    ,  1017.    ,   990.    ,   675.    ,   558.    ,
         360.    ,   846.    ,   495.1394,  1053.    ,   747.    ,
         376.7365,  1125.    ,   713.    ,   504.    ,    70.    ,
        2430.    ,  2475.    ,  2970.    ,  2250.    ,  1512.    ,
         324.    ,   801.    ,   420.    ,   387.    ,   441.    ,
         715.    ,   312.    ,   780.    ,   495.    ,   620.    ,
         805.    ,  1001.    ,   585.    ,   765.    ,  1680.    ,
        1530.    ,   140.    ,   200.    ,  1782.    ,    66.    ,
        1075.    ,  1750.    ,  1184.    ,  1250.    ,    65.    ,
        2210.    ,   760.    ,   904.1676,    50.    ,    58.    ,
         852.    ,  2600.    ,  2050.    ,  1674.    ,  2025.    ,
       24300.    ,  2035.    ,   150.    ,  3250.    ,  4000.    ,
        5500.    ,   972.    ,  4150.    ,  2610.    ,   880.    ,
        1078.    ,  1818.    ,   807.2925,  2152.78  ,   960.    ,
         378.    ,  1580.    ,   820.    ,   594.    , 14220.    ,
        1470.    ,  1480.    ,  1214.    ,  1380.    ,  1585.    ,
        3050.    ,  3405.    ,  2105.    ,  2090.    ,  2525.    ,
        2022.    ,  2552.    ,  3112.    ,  2125.    ,  2065.    ,
        1455.    ,  3400.    ,  3100.    ,  2126.    ,  1815.    ,
         968.751 ,  1320.    ,  3600.    ,  1305.    ,  1175.    ,
         725.    ,  1035.    ,   580.    ,  1170.    ,   855.    ,
        1044.0983,   173.    ,   527.    ,   770.    ,   710.    ,
         945.    ,   565.    ,   430.    ,   459.    ,   559.7228,
         365.    ,   390.    ,   210.    ,   379.    ,   236.8058,
         452.0838,   437.    ,    61.    ,   198.    ,  4900.    ,
        2077.4327,   425.    ,  2750.    ,  2316.    ,  1290.    ,
        1076.39  ,   460.    ,   370.    ,   975.    ,  1459.    ,
        1460.    ,   979.5149,  1531.    ,    35.    ,  2907.    ,
        2518.7526,   588.    ,  1775.    ,  1252.    ,   530.    ,
        1332.    ,   987.    ,  1912.    ,  5236.    ,  2805.    ,
         576.    ,  1206.    ,   345.    ,   468.    ,   535.    ,
        1501.    ,  3002.    ,  1429.    ,  1646.    ,  1590.    ,
        2282.    ,  1457.    ,  2175.    ,   861.112 ,  1753.    ,
        2659.    ,   702.    ,  1138.    ,  1291.668 ,  2592.    ,
        1640.    ,  2572.    ,  2445.    ,  5220.    ,  4455.    ,
         195.    , 17010.    ,  2340.    ,   464.    ,   954.    ,
        1155.    ,  1485.    ,  1070.    ,  2520.    ,  2066.    ,
        6500.    ,  4350.    ,  1980.    ,  5400.    ,  2097.    ,
        1116.    ,  2625.    ,   125.    ,  4118.    , 11050.    ])

In [15]:
df2['Price_per_sqft']=df2['Price']/df2['Area']
df2.head()

/home/naqeeb/miniconda3/envs/p3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Area,BHK,Bathroom,Locality,Price,Price_per_sqft
0,800.0,3,2.0,Rohini Sector 25,6500000,8125.000000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000,6666.666667
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000,16315.789474
3,600.0,2,2.0,Rohini Sector 24,4200000,7000.000000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000,9538.461538

In [18]:
len(df2.Locality.unique())

365

In [35]:
df2.Locality=df2.Locality.apply(lambda x: x.strip())
location_stats=df2.groupby('Locality')['Locality'].agg('count').sort_values(ascending=False)
location_stats

Locality
other                                                     404
Lajpat Nagar 3                                             34
J R Designers Floors, Rohini Sector 24                     31
Lajpat Nagar 2                                             31
Kailash Colony, Greater Kailash                            30
                                                         ...
Rohini Sector 25                                            4
MTNL Employees House Welfare Society, Dwarka Sector 24      4
Rohini Sector 20                                            4
Punjabi Bagh Extension, Punjabi Bagh                        4
Manglapuri, Sultanpur                                       4
Name: Locality, Length: 82, dtype: int64

In [36]:
len(location_stats[location_stats<=2])

0

In [37]:
location_lessthan2=location_stats[location_stats<=2]
location_lessthan2

Series([], Name: Locality, dtype: int64)

In [38]:
df2.Locality=df2.Locality.apply(lambda x: 'other' if x in location_lessthan2 else x)
len(df2.Locality.unique())

82

In [39]:
df2.head()

,Area,BHK,Bathroom,Locality,Price,Price_per_sqft
0,800.0,3,2.0,Rohini Sector 25,6500000,8125.000000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000,6666.666667
2,950.0,2,2.0,other,15500000,16315.789474
3,600.0,2,2.0,Rohini Sector 24,4200000,7000.000000
4,650.0,2,2.0,other,6200000,9538.461538